#top { 
       top:0;
       height:40px;
       background-color:white;
       width:100%;
 }
#top input { 

 }
#results 
{ 
  max-height:50px;
  overflow-y:auto;
 }
#selection { 
             margin-top:40px;
 }
#signdisplay #svg
{ 
  border:1px solid black;
 }

#error {
   /* float:right;*/
}

#progress {
   width:100px;
   height:1em;
   border:1px solid black;
   background-color:#ddddff;
   position:relative;
}
#bar {
   width:0px;
   height:1em;
   position:absolute;
   top:0px;
   left:0px;
   background-color:#9999ff;
   text-align:center;
}