#progress,
.progress {
   width:100px;
   height:1em;
   border:1px solid black;
   background-color:#ddddff;
   position:relative;
}
#bar,
.bar {
   width:0px;
   height:1em;
   position:absolute;
   top:0px;
   left:0px;
   background-color:#9999ff;
   text-align:center;
}

/****
   Composer
****/
#composer-top
{
  margin-bottom:2px;
  }

input#compose-term
{ 
  width:auto; 
  margin-right:50px;/*avoid star link*/ 
  margin-left:50px;
}

#composer-page-content 
{
  background-color:white;
  }
.canvas 
{ border:1px solid black;}

#composer-add-button
{ min-width:8em; }

ul#current-shapes 
{ 
  padding:0;
  margin:0;
 }

#composer-shapes
{ 
  margin-bottom:30px;
 }
#current-shapes li 
{ 
  display:inline-block;
  list-style-type:none;
 }

#hand-letterlist li,
.glyph
{
  display:inline-block;
  list-style-type:none;
  border:1px solid black;
  padding:2px;
  }

.composer-select,
.composer-custom
{ 
  display:none;
 }
#composer-side-fs .ui-controlgroup-label
{ 
  float:left;
  padding-right:3em;
 }

#hand-select .nopadding 
{ padding:0; }

.composer-custom .ui-btn-inner
{ 
  padding-left:6px;
  padding-right:6px;
 }
#composer-save-wrapper 
{ 
  float:left;
  width:8em;
  /*margin-top:-0.5em;
  margin-bottom:0.5em;*/
 }
#composer-add-wrapper 
{ 
  float:right;
 }

.ui-selectmenu .ui-li .ui-btn-text a.ui-link-inherit
{ 
  white-space:normal;
 }

div.mode-help .only-composer { display:none!important; }
div.mode-help .composer-custom,
div.mode-help #composer-shapes,
div.mode-help #composer-top,
div#composer-page.mode-help .composer-custom.show,
.mode-help #composer-header input,
.mode-help #composer-header a[data-icon=star],
div.mode-help .help-extra,
div.mode-help .composer-select li
{ display:none; }

div.mode-help .composer-select,
div.mode-help .composer-select.show li,
div.mode-help .show .help-extra
{ display:block; }

div.mode-help .help-toggle
{ 
  float:left;
  margin-right:10px;
}

div.mode-help .show .help-toggle
{ background-position: -36px 50%; /*icon-minus*/ }


div.mode-help li.composer-select-header 
{ 
  display:block;
  height:40px;
  cursor: pointer; 
}
.mode-help .ui-content .ui-listview
{ 
  margin-top:0px;
  margin-bottom:0px;
 }

div#composer-page .show
{ display:block; }

div.mode-composer .only-help,
.mode-composer #composer-header h1,
.mode-composer .help-toggle,
.mode-composer .help-extra
{ display:none; }

@media all and (min-width:600px) 
{
 .mode-composer #editor 
  { width:400px;
    float:right;
    }
 .mode-composer #composer-shapes
  { float:left;
    max-width:240px;
    }

}